# ---- PostgreSQL ----
POSTGRES_USER=postgres
POSTGRES_PASSWORD=Pass4Postgres.
POSTGRES_DB=mcloud

# ---- 应用 ----
DB_HOST=postgres
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=Pass4Postgres.
DB_NAME=mcloud
DB_SSLMODE=disable
JWT_SECRET=change-me-to-random-string
JWT_EXPIRES_HOURS=24
SERVER_MODE=debug
